doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    meta(name='description', content='')
    |     
    meta(name='author', content='')
    |     
    title Neta&scedil; - Realtime Room Reservation
    // Bootstrap Core CSS
    link(href='/stylesheets/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      |         
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    |     
    link(href='http://fonts.googleapis.com/css?family=Roboto:400italic,300,700,400&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    |     
    link(href='/stylesheets/meet.css', rel='stylesheet')
  body
  block content
  script(src='/stylesheets/bootstrap/js/jquery.js')
  script(src='/stylesheets/bootstrap/js/bootstrap.min.js')
  script(src='/javascripts/clientscrpts.js')
script(src='/javascripts/filldata.js')